.home {
    background-image: url('/public//images/bg.png');
    background-size: cover;
    min-height: 100vh;
    margin-top: -6.4rem;
    padding-top: 10rem;
    padding-bottom: 5rem;
}

.home h2 {
    color: var(--pink);
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
    font-weight: bold;
}

.home h3 {
    color: #444;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.home p {
    font-size: 1.1rem;
    color: #666;
}

.home .couple {
    margin-top: 100px;
}

.home .couple img {
    width: 100%;
}

.home .couple h3 {
    font-family: 'Sacramento', cursive;
    font-size: 2.4rem;
    color: var(--pink);
}

.home .reverse {
    flex-direction: row-reverse;
}

.home .heart {
    width: 50px;
    height: 50px;
    background-color: #ffff;
    display: flex;
    border-radius: 50%;
    box-shadow: var(--shadow);
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(50px);
}

.home .heart i {
    color: var(--pink);
    margin: auto;
}

@media (max-width: 1200px) {
    .home .heart {
        transform: translateX(-50%) translateY(40px);
    }
}
@media (max-width: 992px) {
    .home .heart {
        display: none;
    }
}
