li {
    margin-bottom: 1.5rem;
    position: relative;
}

li::before,
li::after {
    content: '';
    display: table;
}

li::after {
    clear: both;
}

li .timeline-image {
    width: 160px;
    height: 160px;
    background-color: #ccc;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

li .timeline-panel {
    width: 40%;
    float: left;
    padding: 2rem;
    text-align: right;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
}

li .timeline-panel::before {
    content: '';
    display: inline-block;
    position: absolute;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    right: -15px;
    top: 80px;
    transform: translateY(-50%);
}

li .timeline-panel::after {
    content: '';
    position: absolute;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    right: -13px;
    top: 80px;
    transform: translateY(-50%);
}

li.timeline-inverted .timeline-panel::before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

li.timeline-inverted .timeline-panel::after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -13px;
    right: auto;
}
li.timeline-inverted .timeline-panel {
    float: right;
}

@media (max-width: 992px) {
    li .timeline-image {
        left: 15px;
        margin-left: 45px;
        top: 16px;
    }

    li .timeline-panel {
        width: calc(100% - 200px);
        float: right;
    }
    li .timeline-panel::before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }
    li .timeline-panel::after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -13px;
        right: auto;
    }
}

@media (max-width: 768px) {
    li .timeline-image {
        width: 120px;
        height: 120px;
    }
}

@media (max-width: 576px) {
    li .timeline-image {
        width: 70px;
        height: 70px;
    }

    li .timeline-panel {
        width: 60%;
        transform: translateX(-20px);
    }

    li .timeline-panel::before {
        top: 30px;
    }
    li .timeline-panel::after {
        top: 31px;
    }
}
